@charset "utf-8";

$footer-background-color: #ffffff;
$navbar-height: 4rem;
$footer-padding: 3rem 1.5rem 1.5rem;
$family-monospace: "Fira Code", monospace;
$family-sans-serif: "Lato", sans-serif;
$desktop: 700px;

@import "~bulma/bulma.sass";

$icon-color: #4a4a4a;

html {
  scroll-behavior: smooth;
}

.icon {
  color: $icon-color;
}
